@tailwind base;
@tailwind components;
    
/*
    Main wrapper
*/
.cmt_wrapper { 

    @apply text-gray-600;

    .form-input {
        @apply  p-0 m-0 px-4 h-12 cursor-pointer rounded-none w-full border border-gray-100 bg-white text-xl;
    }
}

@tailwind utilities;
@tailwind utilities;