@tailwind base;
@tailwind components;
    
/*
    Main wrapper
*/
.cmt_wrapper { 

    @apply text-gray-600;
  
    .form-input {
        @apply  px-4 py-2 rounded-none w-full border border-gray-100 bg-white;
    } 
}

@tailwind utilities;
@tailwind utilities;