@tailwind base;
@tailwind components;
    @tailwind utilities;
/*
    Main wrapper
*/
.cmt_wrapper { 
    @apply text-sm;

    .cmt_nav {
        @apply flex items-center bg-gray-100;

        .cmt_header {
            @apply mx-4 font-medium text-lg text-gray-700;
        }
        .cmt_ul {
            @apply flex text-sm uppercase items-center font-semibold;

            .cmt_nav_a {
                @apply tracking-wide text-gray-700 hover:bg-sky-500 hover:text-white transition duration-150 px-8 py-4 focus:ring-0;
                
                &.active {
                    @apply bg-sky-500 text-white;
                }
            }
        }
    }

    @apply text-gray-600;
   
    .form-input {
        @apply  px-4 py-2 rounded-none w-full border border-gray-100 bg-white;
    } 
}
 